{% extends 'todos/base.html' %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Tasks
            {% endblock %}
        </title>
    </head>

    <body>
        {% block topmenu %}
            <li class="nav-item text-nowrap mr-2"><a class="nav-link" href="{% url 'todos' %}">Tasks</a></li>
            <li class="breadcrumb-item active" style="color: white;" aria-current="page">Add task</li>
        {% endblock %}

        {% block content %}
            <div class="container mt-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'add-todo' %}" method="post">
                            {% include 'authentication/partials/_messages.html' %}
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="">Task</label>
                                <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
                            </div>

                            <div class="form-group">
                                <label for="">Deadline</label>
                                <input type="date" class="form-control form-control-sm" name="deadline">
                            </div>

                            <div class="form-group">
                                <label for="">Status</label>
                                <select class="form-control" name="status">
                                    {% for status in statuses %}
                                        <option name="status" value="{{ status.option }}">
                                            {{ status.option }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <input type="submit" value="Save" class="btn btn-outline-success btn-outline-success-sm">
                         </form>
                    </div>
                </div>

            </div>
        {% endblock %}
    </body>
</html>
