{% extends 'wallet/base.html' %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Wallet
            {% endblock %}
        </title>
    </head>
    <body>
        {% block topmenu %}
            <li class="nav-item text-nowrap mr-2"><a class="nav-link" href="{% url 'expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item active" style="color: white;" aria-current="page">My expenses</li>
        {% endblock %}

        {% block content %}
            <div class="container mt-3">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'authentication/partials/_messages.html' %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group ml-3">
                            <input type="text" class="form-control" id="searchField" placeholder="Search">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'add-expense' %}" class="btn btn-outline-success  float-right mr-3">Add new expense</a>
                    </div>
                </div>

                <div class="container">
                    {% if expenses.count %}
                        <div class="app-table">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in page_object %}
                                        <tr>
                                            <td>{{ expense.amount }}</td>
                                            <td>{{ expense.category }}</td>
                                            <td>{{ expense.description }}</td>
                                            <td>{{ expense.date | date:'d M, Y' }}</td>
                                            <td><a href="{% url 'edit-expense' expense.id %}" class="btn btn-outline-primary btn-sm float-right mr-auto">Edit</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <p class="no-results" style="display: none;">No results </p>

                        <div class="table-output">
                            <table class="table table-stripped table-hover">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">

                                </tbody>
                            </table>
                        </div>


                        <div class="pagination-container">
                            <ul class="pagination align-right float-right mr-auto">
                                {% if page_object.has_previous %}
                                    <li {% if page_object.number == 1 %} class="page-item active" {% endif %}>
                                        <a class="page-link" href="?page=1">&laquo; 1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_object.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% if page_object.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_object.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_object.paginator.num_pages }}">{{ page_object.paginator.num_pages}} &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                    {% endif %}
                </div>
            </div>

            <script src="{% static 'wallet/js/search_expenses.js' %}"></script>
        {% endblock %}

    </body>
</html>
