{% extends 'wallet/base.html' %}
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Wallet
            {% endblock %}
        </title>
    </head>
    <body>
        {% block topmenu %}

        {% endblock %}

        {% block content %}
            <div class="container mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'authentication/partials/_messages.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-3" style="border-style: ridge;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <p style="font-weight: bold; padding-left: 25%;">Total incomes in last 30 days: RON {{ total_one_month_incomes }}</p>
                            <canvas class="mb-1" id="myIncomesChart1M" width="400" height="550"></canvas>
                        </div>
                        <div class="col-md-7">
                            <p style="font-weight: bold; padding-left: 25%;">Total expenses in last 30 days: RON {{ total_one_month_expenses }}</p>
                            <canvas class="mb-1" id="myChart1M" width="400" height="400"></canvas>
                        </div>
                        <script src="{% static 'wallet/js/incomes_summary.js' %}"></script>
                        <script src="{% static 'wallet/js/expenses_summary.js' %}"></script>
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
